.Opportunity
{
     width: 400px;
     height: 500px;
     background-color:  transparent;
     box-shadow: 2px 2px 10px black;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     padding: 20px;
}

.opp-details
{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;

}

.opp-details button{
    padding: 10px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}

.opp-details button:hover{
     opacity: 0.5;
}
.Opportunity:hover{
transition:  .4s;


}
 .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
 }